@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@layer base {
  navbar {
    font-family: 'Inter', sans-serif;
  }
 
  h1, h2, h3, h4, h5, h6, label, button, inmput, textarea, div {
    font-family: 'Istok Web', sans-serif;
  }
}